build/
logs/
Feature_recon_ws.workspace.user
devel/
logs/
install/

src/\.idea/misc\.xml

src/\.idea/

\.idea/codeStyles/Project\.xml

\.idea/

src/cmake-build-debug/CMakeFiles/clion-log\.txt

src/cmake-build-debug/

src/CMakeLists\.txt\.user
