<?xml version="1.0"?>
<launch>

    <arg name="gpuid" default="0" />

    <arg name="model" default="mobilenet_thin" />
    <!-- <arg name="model" default="cmu" /> -->
    <arg name="resolution" default="432x368" />
    <arg name="rgb" default="/camera/rgb/image_raw" />
    <arg name="img_show" default="false" />

    <node name="feature_recon" pkg="feature_recon" type="broadcaster_ros.py" output="screen" required="true">
        <env name="CUDA_VISIBLE_DEVICES" value="$(arg gpuid)" />
        <param name="rgb" value="$(arg rgb)" />
        <param name="model" value="$(arg model)" />
        <param name="resolution" value="$(arg resolution)" />
    </node>

    <node name="image_view" pkg="image_view" type="image_view" respawn="false" if="$(eval img_show == true)">
        <remap from="image" to="/pose_estimator/image"/>
        <param name="autosize" value="true" />
    </node>

</launch>
